#keyword{
	font-family: aliel;
}

.form_box{
	display: flex;
}

.form_box form{
	margin:auto 0;
}
.keyword_box form{
	display: flex;
	padding:2rem;
}

.btn-default{
	width:5rem;
	height: 3.3rem;
	margin:auto 0;
	padding:0;
	
}
#playlist_play_container{
	display: flex;
}

.playlist_left_container{
	font-size: 20px;
	min-width:600px;
}

.playlist_right_container{
	width: 35%;
	font-size: 20px;
	min-width:400px;
}

.flex_box{
	width: 90%;
	display: flex;
	border-bottom: solid gray 0.1rem;
	margin: 1rem auto;
	padding: 1rem;	
}
.movies_box{
	width: 40%;
	min-height: 80px;
	box-sizing: border-boz;
}
.flex_right_box{
	width:60%;
	word-break: break-all;
	max-height:80px;
	overflow: hidden;
	font-size: 1.4rem;
	padding: 1rem;
}


.button_add_playlist{
	margin: 5rem auto;
}

.comment_post_area{
	margin: 5rem auto;
}

.comment_box{
	margin: 5rem auto;
}

.iframe_box{
	width: 800px;
	margin: 0 auto;
}
background-color:black!important;
}
.iframe_box iframe{
	display: block !important;
	margin-left: 50px !important;
	width: 90% !important;
	height: 400px !important;
}

.topic{
	text-align: center;
	margin-bottom: 5rem; 
	
}


.add_playlist{
	width: 30%;
	margin:0 4rem 0 auto;
	font-size:1.4rem;	
}

.comment_post_area{
	width: 90%;
	
}

.comment_button{
	display: block;
	width: 15%;
	font-size: 1rem;
	margin-left: auto;
}
.comment_box{
	max-width:700px;
	width: 90%;
	font-size: 1.2rem;
	
}

.comment_username{
	font-size: 1.5rem;	
}
.comment_content{
	margin-left: 2rem;
	word-break: break-word;
}
.comment_date{
	margin-top:3rem;
	text-align: right;
	padding-bottom: 0.5rem;
	border-bottom: 0.2rem #ff0080 dotted;
	box-sizing: border-box;
}


